// MomentJS
script(type='text/javascript', src=plugins+'moment/min/moment.min.js')
// jQuery BlockUI
script(type='text/javascript', src=plugins+'blockUI/jquery.blockUI.js')
// jQuery Counter Up
script(type='text/javascript', src=plugins+'jquery-waypoints/waypoints.min.js')
script(type='text/javascript', src=plugins+'Counter-Up/jquery.counterup.min.js')
// Flot Charts
script(type='text/javascript', src=plugins+'flot/jquery.flot.js')
script(type='text/javascript', src=plugins+'flot/jquery.flot.resize.js')
script(type='text/javascript', src=plugins+'flot.curvedlines/curvedLines.js')
script(type='text/javascript', src=plugins+'flot.tooltip/js/jquery.flot.tooltip.min.js')
// Bootstrap Date Range Picker
script(type='text/javascript', src=plugins+'bootstrap-daterangepicker/daterangepicker.js')