.page-content.container-fluid
  .row
    .col-md-3
      .widget
        .widget-body
          .media
            .media-body
              span.fs-12.text-muted.text-uppercase New Orders 
              span.text-danger
                i.ion-arrow-down-c
                |  2.43%
              .fs-36.fw-300.counter 1,650
            .media-right
              i.ion-ios-list-outline.fs-36
        #flot-order(style='height: 50px; margin-top: -30px')
    .col-md-3
      .widget
        .widget-body
          .media
            .media-body
              span.fs-12.text-muted.text-uppercase Total Revenue 
              span.text-success
                i.ion-arrow-up-c
                |  6.54%
              .fs-36.fw-300 $
                span.counter 20,320
            .media-right
              i.ion-ios-pulse.fs-36
        #flot-revenue(style='height: 50px; margin-top: -30px')
    .col-md-3
      .widget
        .widget-body
          .media
            .media-body
              span.fs-12.text-muted.text-uppercase New Users 
              span.text-danger
                i.ion-arrow-down-c
                |  5.62%
              .fs-36.fw-300.counter 1,860
            .media-right
              i.ion-ios-person-outline.fs-36
        #flot-user(style='height: 50px; margin-top: -30px')
    .col-md-3
      .widget
        .widget-body
          .media
            .media-body
              span.fs-12.text-muted.text-uppercase New Feedbacks 
              span.text-success
                i.ion-arrow-up-c
                |  3.98%
              .fs-36.fw-300.counter 1,350
            .media-right
              i.ion-ios-compose-outline.fs-36
        #flot-feedback(style='height: 50px; margin-top: -30px')
  .row
    .col-md-4
      .widget.text-center
        .widget-heading
          h3.widget-title New York
        .widget-body
          p Sunday, 28 August
          .fs-36.fw-300 76
            sup o
          hr
          .row.row-0.expand
            .col-xs-3
              p.fs-12.text-uppercase.text-muted Tue
              i.block.fs-18.wi.wi-day-fog
              .mt-10.fs-11.text-muted 87
                sup o
            .col-xs-3
              p.fs-12.text-uppercase.text-muted Wed
              i.block.fs-18.wi.wi-day-snow-wind
              .mt-10.fs-11.text-muted 85
                sup o
            .col-xs-3
              p.fs-12.text-uppercase.text-muted Thu
              i.block.fs-18.wi.wi-day-sprinkle
              .mt-10.fs-11.text-muted 90
                sup o
            .col-xs-3
              p.fs-12.text-uppercase.text-muted Fri
              i.block.fs-18.wi.wi-day-lightning
              .mt-10.fs-11.text-muted 86
                sup o
          #flot-weather(style='height: 105px;')
          .row.row-0.expand
            .col-xs-3
              .fs-11.text-muted 69
                sup o
            .col-xs-3
              .fs-11.text-muted 71
                sup o
            .col-xs-3
              .fs-11.text-muted 75
                sup o
            .col-xs-3
              .fs-11.text-muted 70
                sup o
    .col-md-8
      .widget
        .widget-heading.clearfix
          h3.widget-title.pull-left Latest Projects
          ul.widget-tools.pull-right.list-inline
            li
              a.widget-collapse(href='javascript:;')
                i.ion-chevron-up
            li
              a.widget-reload(href='javascript:;')
                i.ion-refresh
            li
              a.widget-remove(href='javascript:;')
                i.ion-close-round
        .widget-body
          .table-responsive
            table.table.mb-0
              thead
                tr
                  th #
                  th Project Name
                  th.text-center Start Date
                  th.text-center Inspected
                  th.text-center Status
              tbody
                tr
                  td 1
                  td Sigma App v1.0
                  td.text-center 20 Aug 2016
                  td.text-center.text-success
                    i.ion-checkmark-round
                  td.text-center
                    span.label.label-outline.label-success Released
                tr
                  td 2
                  td Foundation App v1.0
                  td.text-center 15 Oct 2016
                  td.text-center.text-danger
                    i.ion-close-round
                  td.text-center
                    span.label.label-outline.label-purple Work in Progress
                tr
                  td 3
                  td Delta App v1.0
                  td.text-center 15 Oct 2016
                  td.text-center.text-danger
                    i.ion-close-round
                  td.text-center
                    span.label.label-outline.label-purple Work in Progress
                tr
                  td 4
                  td Umega App v1.6
                  td.text-center 06 Apr 2016
                  td.text-center.text-success
                    i.ion-checkmark-round
                  td.text-center
                    span.label.label-outline.label-success Released
                tr
                  td 5
                  td Umega App v1.7
                  td.text-center 06 Sep 2016
                  td.text-center.text-danger
                    i.ion-close-round
                  td.text-center
                    span.label.label-outline.label-primary Coming soon
                tr
                  td 6
                  td Sigma App v1.1
                  td.text-center 20 Oct 2016
                  td.text-center.text-danger
                    i.ion-close-round
                  td.text-center
                    span.label.label-outline.label-primary Coming soon
  .row
    .col-lg-12
      .widget
        .widget-heading.clearfix
          h3.widget-title.pull-left Visitors Analytics
          ul.widget-tools.pull-right.list-inline
            li
              a.widget-collapse(href='javascript:;')
                i.ion-chevron-up
            li
              a.widget-reload(href='javascript:;')
                i.ion-refresh
            li
              a.widget-remove(href='javascript:;')
                i.ion-close-round
        .widget-body
          .row
            .col-md-8
              .clearfix
                #flot-visitor-legend.pull-left
                .pull-right
                  .btn-toolbar
                    button#daterangepicker.btn.btn-rounded.btn-outline.btn-black(type='button')
                      i.ion-calendar.mr-5
                      span
              #flot-visitor(style='height: 300px')
            .col-md-4
              .media
                .media-body
                  .fs-36.fw-300.counter 12,389
                  h6.m-0.fw-400.text-muted.text-uppercase Your Profile Views
                .media-right
                  i.ion-ios-bookmarks-outline.fs-36
              #flot-profile(style='height: 87px')
              .table-responsive.mt-10
                table.table.mb-0.no-border
                  thead
                    tr
                      th(style='width:10%') #
                      th(style='width:40%') Browser
                      th(style='width:25%') Sessions
                      th(style='width:25%') Up/Down
                  tbody
                    tr
                      td 1
                      td Chrome
                      td 4325
                      td.text-success +3.26%
                    tr
                      td 2
                      td Firefox
                      td 3257
                      td.text-danger -2.14%
                    tr
                      td 3
                      td Edge
                      td 2314
                      td.text-success +2.92%
  .row
    .col-md-4
      .widget
        .widget-heading
          h3.widget-title Recent Activities
        .widget-body
          ul.activity-list.activity-sm.list-unstyled.mb-0
            li.activity-purple
              time.fs-13.text-muted(datetime='2016-12-10T20:50:48+07:00') 9 minutes ago
              p.mt-10.mb-0
                | You 
                span.label.label-success recommended
                |  Karen Ortega
            li.activity-danger
              time.fs-13.text-muted(datetime='2016-12-10T20:42:40+07:00') 15 minutes ago
              p.mt-10.mb-0 You followed Olivia Williamson
            li.activity-warning
              time.fs-13.text-muted(datetime='2016-12-10T20:35:35+07:00') 22 minutes ago
              p.mt-10.mb-0
                | You 
                span.text-danger subscribed
                |  to Harold Fuller
            li.activity-success
              time.fs-13.text-muted(datetime='2016-12-10T20:27:48+07:00') 30 minutes ago
              p.mt-10.mb-0 You updated your profile picture
            li.activity-primary
              time.fs-13.text-muted(datetime='2016-12-10T20:22:48+07:00') 35 minutes ago
              p.mt-10.mb-0 You deleted homepage.psd
    .col-md-4
      .widget
        .widget-body.text-center
          img.img-circle(src=build+'images/users/12.jpg', width='100', alt='')
          h4.mt-20.mb-5.text-black Emma Lawrence
          p.fs-12.text-uppercase.text-muted Developer
          p I am a freelance graphic designer with 5 years experience working in the Graphic Design industry.
          ul.list-inline.mb-0
            li
              a(href='#')
                i.ion-social-skype.text-info.fs-18
            li
              a(href='#')
                i.ion-social-pinterest.text-danger.fs-18
            li
              a(href='#')
                i.ion-social-whatsapp.text-success.fs-18
            li
              a(href='#')
                i.ion-social-instagram.text-black.fs-18
      .widget
        .widget-body.text-center.p-0
          .row.row-0.divider
            .col-xs-4
              h6.text-uppercase Facebook
              p.mb-0 43,654
              .fs-36.fw-300
                span.counter 32
                span %
              .progress.progress-xs.mb-0
                .progress-bar(role='progressbar', data-transitiongoal='100')
            .col-xs-4
              h6.text-uppercase Dribbble
              p.mb-0 12,325
              .fs-36.fw-300
                span.counter 15
                span %
              .progress.progress-xs.mb-0
                .progress-bar.progress-bar-success(role='progressbar', data-transitiongoal='100')
            .col-xs-4
              h6.text-uppercase Pinterest
              p.mb-0 32,790
              .fs-36.fw-300
                span.counter 28
                span %
              .progress.progress-xs.mb-0
                .progress-bar.progress-bar-purple(role='progressbar', data-transitiongoal='100')
    .col-md-4
      .widget
        .widget-heading
          h3.widget-title Trending Articles
        .widget-body
          ul.media-list.media-lg.mb-0
            li.media
              .media-left
                img.media-object.mo-lg.img-circle(src=build+'images/products/18.jpg', alt='')
              .media-body.media-middle
                a.text-base(href='#')
                  h5.media-heading Easy Steps To Better Icon Design
                span.fs-13.text-muted.text-italic By 
                  a(href='#') Mary Green
            li.media
              .media-left
                img.media-object.mo-lg.img-circle(src=build+'images/products/14.jpg', alt='')
              .media-body.media-middle
                a.text-base(href='#')
                  h5.media-heading Dear Web Font Providers
                span.fs-13.text-muted.text-italic By 
                  a(href='#') Samuel Schultz
            li.media
              .media-left
                img.media-object.mo-lg.img-circle(src=build+'images/products/20.jpg', alt='')
              .media-body.media-middle
                a.text-base(href='#')
                  h5.media-heading Flat And Thin Are In
                span.fs-13.text-muted.text-italic By 
                  a(href='#') Timothy Owens
            li.media
              .media-left
                img.media-object.mo-lg.img-circle(src=build+'images/products/15.jpg', alt='')
              .media-body.media-middle
                a.text-base(href='#')
                  h5.media-heading Building With Gulp
                span.fs-13.text-muted.text-italic By 
                  a(href='#') Aaron Holland
            li.media
              .media-left
                img.media-object.mo-lg.img-circle(src=build+'images/products/01.jpg', alt='')
              .media-body.media-middle
                a.text-base(href='#')
                  h5.media-heading Designing For Digital Products
                span.fs-13.text-muted.text-italic By 
                  a(href='#') Sara Price